body{
    background-color: teal;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 80px;
    align-items: center;
    grid-gap: 30px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}
.img{
    object-fit: cover;
}

.grid > article{
    box-shadow: 10px 5px 5px 0px black;
    border-radius: 30px;
    text-align: center;
    background: white;
    width: 300px;
    transition: transform;
}
.grid > article img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.grid > article:hover{
    
    transform: scale(1.2);
}

@media (max-width:1000px) {
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:800px) {
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
}
